{% if site.sharing.twitter or site.sharing.facebook or site.sharing.hn or site.sharing.reddit %}
<div class="social">
  {% if site.sharing.twitter %}
  <div class='twitter'>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-related="{{ site.twitter }}">Tweet</a>
  </div>
  {% endif %}

  {% if site.sharing.facebook %}
  <div class='facebook'>
    <div class="fb-share-button" data-layout="button_count"></div>
  </div>
  {% endif %}

  {% if site.sharing.hn %}
  <div class='hn'>
    <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}" data-count="horizontal">Submit on Hacker News</a>
  </div>
  {% endif %}

  {% if site.sharing.reddit %}
  <div class='reddit'>
    <a href="//www.reddit.com/submit" onclick="window.open('//www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title | cgi_escape }}'); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
  </div>
  {% endif %}
</div>
{% endif %}
