{% if site.twitter %}
<a href="https://twitter.com/{{ site.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
{% endif %}
{% if site.github %}
<a href="https://github.com/{{ site.github }}" title="Follow on Github" target="_blank"><i class="icon icon-github"></i></a>
{% endif %}
{% if site.facebook %}
<a href="http://facebook.com/{{ site.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
{% endif %}
<a href="/feed.xml" title="RSS Feed">
  <i class="icon icon-rss"></i>
</a>
