---
layout: default
---

<main class="content" role="main">
  <article class="post">
    {% if page.image %}
    <div class="article-image">
      <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
        Article Image
      </div>
      <div class="post-image-image-mobile" style="background-image: url({% if page.image-mobile %}{{ page.image-mobile }}{% endif %})">
        Article Image
      </div>
    {% else %}
    <div class="noarticleimage">
    {% endif %}
      <div class="post-meta">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="cf post-meta-text">
          <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
          <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4>,
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
          {% if page.tags[0] != null %}on{% endif %}
          <span class="post-tags-set">
            {% for tag in page.tags %}<span class="post-tag">#{{tag}}</span>{% endfor %}
          </span>
          <h4>{% include read_time_estimate.html content=content %}</h4>
        </div>
      </div>
    </div>
    <br>
    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
    <footer class="post-footer">

    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Thanks for reading!</span></h5>
        <section class="author">
          <div class="author-image" style="background-image: url({{site.twitter_image}})">Blog Logo</div>
          <p class="twitter-pitch">For more bite-sized thoughts, you might want to follow me on Twitter:</p>
          <p style="margin-top: 1em;"><a href="https://twitter.com/fabferrai?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @fabferrai</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
        </section>
      </div>
      <div class="isRight">
        <h5 class="index-headline featured"><span>Spam some people with this</span></h5>
        <footer class="site-footer">
          <section class="share">
            {% include social_sharing.html %}
          </section>
        </footer>
      </div>
    </div>
    {%if site.disqus %}
    <section>
      {% include disqus.html %}
    </section>
    {% endif %}
  </article>
</main>
{% include bottom_closer.html %}
